{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

<div class='p-5'>

  <div class='col-9'><hr />
    <h6 class='text-center'>List of page
      <i class='bi bi-card-checklist'></i></h6>
    <p class='text-center'>My first project
      <i class='bi bi-check-circle'></i></p>
    <hr />
  </div>

  <div class='row mt-5'>
    <div class='col-3 mx-2'>
      <div class='row'>
        <a href='/bio' class='btn btn-primary my-1'>Bio</a>
        <br />
        <a
          href='/bootstrap'
          class='btn btn-primary my-1 nav-item'
        >Bootstrap</a>
        <br />

        <a href='/car' class='btn btn-primary my-1'>Car</a>
        <br />

        <a
          href='/education'
          class='btn btn-primary my-1'
        >Education</a>
        <br />

        <a
          href='/facebook'
          class='btn btn-primary my-1'
        >Facebook</a>
        <br />
        <a href='/js' class='btn btn-primary my-1'>Js</a>
        <br />

        <a href='/mac' class='btn btn-primary my-1'>Mac</a>
        <br />
      </div>

    </div>
    <div class='col-3 mx-2'>
      <div class='row'>
        <a
          href='/person'
          class='btn btn-primary my-1'
        >Person</a>
        <br />

        <a
          href='/program'
          class='btn btn-primary my-1'
        >Program</a>
        <br />

        <a
          href='/shopcart'
          class='btn btn-primary my-1'
        >Shopcart</a>
        <br />

        <a
          href='/shopcatalog'
          class='btn btn-primary my-1'
        >Shopcatalog</a>
        <br />

        <a
          href='/shophome'
          class='btn btn-primary my-1'
        >Shophome</a>
        <br />

        <a
          href='/shoporder'
          class='btn btn-primary my-1'
        >Shoporder</a>
        <br />

        <a
          href='/shopreview'
          class='btn btn-primary my-1'
        >Shopview</a>
        <br />

      </div>
    </div>
    <div class='col-3 mx-2'>

      <div class='row'>
        <a
          href='/skilss'
          class='btn btn-primary my-1'
        >Skills</a>
        <br />
        <a
          href='/summary'
          class='btn btn-primary my-1'
        >Summary</a>
        <br />
        <a
          href='/task21'
          class='btn btn-primary my-1'
        >Task21</a>
        <br />
        <a
          href='/task22'
          class='btn btn-primary my-1'
        >Task22</a>
        <br />
        <a
          href='/task31'
          class='btn btn-primary my-1'
        >Task31</a>
        <br />

        <a href='/web' class='btn btn-primary my-1'>Web</a>
        <br />
        <a
          href='/work'
          class='btn btn-primary my-1'
        >Work</a>

      </div>
    </div>

  </div>

</div>
{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}