<main class='p-5'>
  <div class='row g-4'>
    <div class='col-12'>
      <div class='nav nav-tabs'>

        <div class='nav-item'>
          <a href='/summary' class='nav-link'> Main</a>
        </div>
        <div class='nav-item'>
          <a href='/car' class='nav-link active'>
            Catalog</a>
        </div>

        <div class='nav-item'>
          <a href='/task31' class='nav-link'>
            Menu</a>
        </div>

        <div class='nav-item'>
          <a href='/task22' class='nav-link'> Help</a>
        </div>

      </div>
    </div>
    <div class='col-4'>
      <div class='card'>
        <div class='card-body'>
          <div class='nav flex-column'>

            <div class='nav-item'>
              <div class='card'>
                <a href='#' class='nav-link'> Home</a>
              </div>
            </div>
            <br />
            <div class='nav-item'>
              <div class='card'>
                <a href='#' class='nav-link active'>
                  FAQ Page</a>
              </div>
            </div>
            <br />
            <div class='nav-item'>
              <div class='card'>
                <a href='#' class='nav-link disabled'>
                  News</a>
              </div>

            </div>
            <br />
            <div class='nav-item'>
              <div class='card'>
                <a href='#' class='nav-link'> Info</a>
              </div>

            </div>

          </div>
        </div>

      </div>
    </div>
    <div class='col-8'>

      <div class='row'>
        <div class='col-12'>
          <ul class='breadcrumb'>
            <li class='breadcrumb-item'>
              <a href='#'>Home</a>
            </li>
            <li class='breadcrumb-item'>
              <a href='#'>PC and Notebook</a>
            </li>
            <li class='breadcrumb-item'>
              Macbook
            </li>
          </ul>
        </div>
        <div class='col-12'>
          <button class='btn btn-primary rounded-pill mb-2'>
            Click me</button>
          <button class='btn btn-primary rounded-pill mb-2'>
            Buy</button>

          <div class='alert alert-light'>
            <h6 class='m-0'>Hello world!
              <span
                class='badge text-bg-warning rounded-pill text-uppercase'
              >Top selling</span>
            </h6>
            <p class='m-0'>Info</p>
          </div>

        </div>
      </div>

    </div>
  </div>
  <hr class='my-5' />

  <div class='row g-5'>
    <div class='col-12 mb-5'>

      <label class='form-label'>Email address</label>
      <input class='form-control' />
      <div class='form-text text-danger'>
        Error. You need to set correct email.
      </div>
    </div>
    <div>
      <hr />
    </div>
    <div class='col-6 mb-5'>

      <label class='form-label'>Email address</label>
      <input
        disabled
        class='form-control form-control-sm'
      />

      <div class='form-text text-danger'>
        Error. You need to set correct email.
      </div>
    </div>
    <div class='col-6'>

      <label class='form-label'>Select role</label>
      <select class='form-select form-select-sm'>
        <option selected>Open list</option>
        <option value='1'>Admin</option>
        <option value='2'>User</option>
      </select>
      <div class='form-text text-danger'>
        Error. You need to set correct email.
      </div>

    </div>

  </div>
  <div>
    <hr />
    <h1>Check field</h1>
  </div>
  <div class='row'>
    <div class='col-12'>
      <label class='form-check-label'>Select food</label>
      <div class='form-check'>
        <label class='form-check-label'>Apple</label>
        <input
          name='food'
          type='checkbox'
          class='form-check-input'
        />
      </div>
      <div class='form-check'>
        <label class='form-check-label'>Orange</label>
        <input
          name='food'
          type='checkbox'
          class='form-check-input'
        />
      </div>
      <div class='form-check'>
        <label class='form-check-label'>Lemon</label>
        <input
          name='food'
          type='checkbox'
          class='form-check-input'
        />
      </div>
      <div class='form-check'>
        <label class='form-check-label'>Meat</label>
        <input
          name='food'
          type='checkbox'
          class='form-check-input'
        />
      </div>

    </div>

    <div>
      <hr />
    </div>
    <h2>Radio field</h2>
    <div class='col-12'>
      <div class='form-check'>
        <label class='form-check-label'>Apple</label>
        <input
          name='food'
          type='radio'
          class='form-check-input'
        />
      </div>
      <div class='form-check'>
        <label class='form-check-label'>Orange</label>
        <input
          name='food'
          type='radio'
          class='form-check-input'
        />
      </div>

    </div>
    <div>
      <hr />
    </div>
    <h2>Switch field</h2>
    <div class='form-label'>Get bonus</div>
      <div class='form-check form-switch'>

        <label class='form-check-label'>yes</label>
        <input
          name='food'
          type='checkbox'
          class='form-check-input'
        />
      </div>
      <div class='form-check form-switch'>

        <label class='form-check-label'>No</label>
        <input
          name='food'
          type='checkbox'
          class='form-check-input' checked
        />
      </div>

    </div>
  </div>
  <hr class="my-5">
  <div class="mt-5">
    <h3>Bootsrap icons</h3>
    <div>
      <h6><i class="bi bi-emoji-smile"></i></h6>
      <button class="btn btn-warning">
       <i class="bi bi-balloon-heart-fill"></i> 
      </button>
      
    </div>
    <h4 class="text-danger">Font Awesome</h4>
    <i class="fa-brands fa-slack fa-fade"></i>
    <br>
    <hr>

    <i class="fa-solid fa-house-signal fa-beat-fade"></i>
    <hr>
    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M357.7 8.5c-12.3-11.3-31.2-11.3-43.4 0l-208 192c-9.4 8.6-12.7 22-8.5 34c87.1 25.3 155.6 94.2 180.3 181.6H464c26.5 0 48-21.5 48-48V256h32c13.2 0 25-8.1 29.8-20.3s1.6-26.2-8.1-35.2l-208-192zM288 208c0-8.8 7.2-16 16-16h64c8.8 0 16 7.2 16 16v64c0 8.8-7.2 16-16 16H304c-8.8 0-16-7.2-16-16V208zM24 256c-13.3 0-24 10.7-24 24s10.7 24 24 24c101.6 0 184 82.4 184 184c0 13.3 10.7 24 24 24s24-10.7 24-24c0-128.1-103.9-232-232-232zm8 256a32 32 0 1 0 0-64 32 32 0 1 0 0 64zM0 376c0 13.3 10.7 24 24 24c48.6 0 88 39.4 88 88c0 13.3 10.7 24 24 24s24-10.7 24-24c0-75.1-60.9-136-136-136c-13.3 0-24 10.7-24 24z"/></svg>
 <hr>
 <div>
  <img src="/svg/slack.svg">

 </div>
 
  </div>
</main>